<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title></title>
  <!-- 

    该路径是如果是在 http 服务中 ：
        那么该路径就相对于当前页面的路由路径而言的
        http://127.0.0.1:3000/
    在 file 协议中，是相对于你的静态文件而言的

    后台会告诉你，你把静态资源放到哪个目录下就可以被访问了
    后台哥哥也会告诉你：通过哪个路径前缀就可以访问到你的静态资源了
  -->
  <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css">
</head>

<body>
  <div class="container">
    <div class="page-header">
      <h1><a href="/">我的音乐</a> <small>首页</small></h1>
    </div>
    <a class="btn btn-success" href="/add">添加歌曲</a>
    <table class="table">
      <thead>
        <tr>
          <th>编号</th>
          <th>标题</th>
          <th>歌手</th>
          <th>音乐名称</th>
          <th>海报</th>
          <th>操作</th>
          <th>播放</th>
        </tr>
      </thead>
      <tbody>
        <!-- 后台渲染 -->
        <% musicList.forEach(function(music,index){ %>
        <tr>
          <td><%= music.id %></td>
          <td><%= music.title %></td>
          <td><%= music.singer %></td>
          <td><%= music.music %></td>
          <td>
            <img width="100" src="/www/<%= music.poster %>" alt="">
          </td>
          <td><span data-music="<%= music.music %>" class="glyphicon glyphicon-play"></span></td>
          <td>
            <a href="/edit?id=<%= music.id %>">修改</a>
            <a class="remove" href="/remove?id=<%= music.id %>">删除</a>
          </td>
        </tr>
        <% })   %>
      </tbody>
    </table>
    <div>
      <audio id="audio" src="/uploads/万晓利 - 女儿情.mp3" controls="true"></audio>
    </div>
  </div>
  <script src="/node_modules/jquery/dist/jquery.js"></script>
  <script>
  var $audio = $('#audio')
  $('.glyphicon-play').on('click', function() {
    console.log($(this).data('music'))
      // 直接 $audio.src 设定不管用
    $audio.attr('src', '/www/' + $(this).data('music'))
  })

  // $('.remove').on('click', function(e) {
  //   e.preventDefault()
  //   var url = $(this).attr('href')
  //   if (!window.confirm('真的要离开了吗？')) {
  //     return
  //   }
  //   $.ajax({
  //     url: url,
  //     type: 'get',
  //     dataType: 'json',
  //     success: function(data) {
  //       // 根据 data 的响应数据做判断
  //       if (data.code === 2000) {
  //         // 让浏览器跳转到指定的地址
  //         alert('恭喜：删除成功了！')

  //         // 删除成功，让浏览器重新对 / 发起请求，重新做后台渲染
  //         window.location.href = '/'
  //       } else if (data.code === 2001) {
  //         alert('该记录不存在，请刷新重试！')
  //       }
  //     }
  //   })
  // })
  </script>
</body>

</html>
